<div class="container-t clearfix row">
  <div class="col-sm-6" *ngFor="let gateway of gateways">
    <div class="card card-default room" *ngIf="gateway.isApprove">
      <div class="card-header">
        {{gateway.name}}
      </div>
      <div class="card-body">
        <!-- [BEGIN steven] -->
        <span *ngIf="gateway.devices.length == 0">No Devices</span>
        <div *ngFor="let device of gateway.devices">
          <realtime-chart [device]="device" [gateway]="gateway"></realtime-chart>
        </div>
      </div>
    </div>
  </div>
</div>