<!-- <div [ngBusy]="busy"></div> -->

<div class="data-page clearfix">

  <div class="filter-sidebar col-md-3 col-12">
    <div class="row">
      <!-- <h2 class="data-history" translate>History</h2> -->
      <div class="filter-div">
        <div class="filter-by" translate>Filter By</div>
        <br>

        <div class="month-section clearfix">

          <div class="chk-layer">
            <input class="chk-month" type="checkbox" [(ngModel)]="isMonthFilter" (change)="tapFilter()" />
          </div>
          <div class="month-label" translate>Date</div>
        </div>

        <ngx-select [items]="items" [disabled]="!isMonthFilter" [defaultValue]="selectedCalendarType" (select)="onCalendarTypeSelected($event)"></ngx-select>

        <div class="calendar">
          <my-calendar (dayClickedEvent)="dayClicked($event)"></my-calendar>
        </div>
        <div class="month-section clearfix">

          <div class="chk-layer">
            <input class="chk-month" type="checkbox" [(ngModel)]="isGatewayFilter" (change)="tapFilter()" />
          </div>
          <div class="month-label" translate>Gateway</div>
        </div>

        <div class="input-group">
          <input class="form-control" placeholder="Room 1" [attr.disabled]="isGatewayFilter?null:''">
          <div class="input-group-addon">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <div class="select-group gateway-select">
          <div class="select-item gateway-item" *ngFor="let item of gateways;let index = index" (click)="onTapGateway(item)">{{item.name}}</div>
        </div>

        <div class="month-section clearfix">

          <div class="chk-layer">
            <input class="chk-month" type="checkbox" [(ngModel)]="isUserFilter" (change)="tapFilter()" />
          </div>
          <div class="month-label" translate>User</div>
        </div>

        <div class="input-group">
          <input class="form-control" placeholder="Steven" [attr.disabled]="isUserFilter?null:''">
          <div class="input-group-addon">
            <i class="fa fa-search"></i>
          </div>
        </div>

        <div class="select-group gateway-select">
          <div class="select-item gateway-item" *ngFor="let item of selectedGateway.devices;let index = index">{{item.name}}</div>
        </div>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- [END] filter-sidebar-->
  <div class="data-list-container  col-md-9 col-12">
    <div class="row">
      <div class="header col-12">
        <div class="header-content row">
          <div class="col-sm-4" (click)="onTapSortDate()" translate>
            Date / Time
            <img *ngIf="sortUpDate" src="assets/img/sort-up.png" class="sort">
            <img *ngIf="!sortUpDate" src="assets/img/sort-down.png" class="sort">
          </div>
          <div class="col-sm-2 text-center" style="outline:1px red sold;" (click)="onTapSortUser()" translate>
            User
            <img *ngIf="sortUpUser" src="assets/img/sort-up.png" class="sort">
            <img *ngIf="!sortUpUser" src="assets/img/sort-down.png" class="sort">
          </div>
          <div class="col-sm-2 text-center" style="outline:1px red sold;" (click)="onTapSortRoom()" translate>
            Room
            <img *ngIf="sortUpRoom" src="assets/img/sort-up.png" class="sort">
            <img *ngIf="!sortUpRoom" src="assets/img/sort-down.png" class="sort">
          </div>
          <div class="col-sm-4 text-center" style="outline:1px red sold;" (click)="onTapSortDuration()" translate>
            Duration
            <img *ngIf="sortUpDuration" src="assets/img/sort-up.png" class="sort">
            <img *ngIf="!sortUpDuration" src="assets/img/sort-down.png" class="sort">
          </div>
        </div>
      </div>
      <div class="content col-12">

        <div class="c-row" *ngFor="let item of DataWithDate;let index = index" (click)="showDetail(item)">
          <!-- ./row For Date -->
          <div class="c-row-content detail row">
            <div class="col-sm-4">
              <div>{{item.time}}</div>
            </div>
            <div class="col-sm-2 text-center">{{item.deviceId.name}}</div>
            <div class="col-sm-2 text-center">{{item.gatewayId.name}}</div>
            <div class="col-sm-4 text-center">
              {{item.durationStr}}
            </div>
            <div class="clearfix"></div>
          </div>
          <!-- ./row For Dataset -->
        </div>
        <!-- ./ngFor DataForDisplay -->

        <div class="c-row day-start more-btn-row clearfix">
          <div class="col-12 text-center">
            <div class="no-data" *ngIf="noData">{{message}}</div>
            <!-- <button class="col-12 btn more-btn" (click)="tapMore();">{{'page.data.More'}}</button> -->
          </div>
        </div>

      </div>
      <!-- ./content -->
    </div>
  </div>
  <!-- row -->
</div>
