.ecg-acc {
  padding: 0px 0px 10px 0px;
  /*margin-top: -20px;*/
}

.ecg-acc .graph {
  position: relative;
}

.ecg-acc .graph #accelerometerGraph {
  background: white;
  width: 100%;
  height: 160px;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* background: #000; */
}

.ecg-acc .seekbargroup {
  margin-top: 3px;
  height: 20px;
  width: 100%;
  padding: 10px 8px 0px 8px;
}

.ecg-acc .seekbargroup #seekbar {
  width: 100%;
  cursor: pointer;
}

.ecg-acc .seekbargroup #seekbar .ui-slider-range {
  background: #ef2929;
  cursor: pointer;
}

.ecg-acc .seekbargroup #seekbar .ui-slider-handle {
  border-color: #ef2929;
  transition: all 0.7s;
  cursor: pointer;
}

.ecg-acc .playgroup {
  display: block;
  margin: auto;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.ecg-acc .playgroup .rect {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin-right: 12px;
  padding: 3px;
  width: 29px;
  height: 29px;
  border-radius: 2px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ecg-acc .playgroup .rect.zoom {
  margin-left: 12px;
}

.bt-p {
  border-radius: 50%;
  background: #fff;
  color: #009DED;
  display: inline-block;
  padding: 5px 4px 4px 5px;
  width: 25px;
  font-size: 11px;
  height: 25px;
  line-height: 11px;
  border: 2px #009DED solid;
}

.bt-p:hover {
  background: #B8E5FB;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.playgroup .rect.disable {
  opacity: .3;
  cursor: not-allowed;
}

.playgroup .content {
  display: inline-block;
  // width: 190px;
  color: #1f2836;
}

.overlayer {
  position: absolute;
  display: inline-block;
  visibility: hidden;
  top: 0;
  color: red;
  left: 0;
  text-align: center;
  padding: 10%;
  width: 102%;
  margin-left: 0%;
  height: 140%;
  background: rgba(255, 255, 255, 0.7);
}

.overlayer.Show {
  visibility: visible;
}

.percent {
  position: absolute;
  left: calc(50% + 6px);
  top: 48%;
  visibility: hidden;
  display: inline-block;
  font-size: 15px;
  line-height: 30px;
  color: #009DED;
  height: 30px;
  &.Show {
    visibility: visible;
  }
}

.busySplash {
  position: absolute;
  left: calc(50% - 8px);
  top: 41%;
  visibility: hidden;
  display: inline-block;
  font-size: 50px;
  line-height: 50px;
  color: #009DED;
  height: 50px;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.busySplash.Show {
  visibility: visible;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#debug {
  color: #000;
}

#debug.show {
  color: #fff;
}
