.ecg-main-chart {
  display: block;
}

// *{
//   outline: 1px #F7F7F7 solid;
//   transition: all ease 0.3s;
// }
// *:hover{
//   outline: 2px #F3F3F3 solid;
//   // transform: scale(1.1);
//   transition: all ease 0.3s;
// }
.session {
  background: #fff;
  padding-left: 30px;
  /* max-width: 1100px; */
  // padding-right: 30px;
  border-radius: 4px; // margin-left: 30px;
  .max-width-960 {
    max-width: 960px;
    // outline: 1px red solid;
  }
  .top-20 {
    margin-top: 20px;
  }
  .label-af{
    line-height: 30px;
  }
}
.af{
  color: #000;
}
input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5);
  /* IE */
  -moz-transform: scale(1.5);
  /* FF */
  -webkit-transform: scale(1.5);
  /* Safari and Chrome */
  -o-transform: scale(1.5);
  /* Opera */
  padding: 10px;
}
@media (min-width:768px) {
  .session {
    margin-left: 30px;
  }
}

.session .status-bar {
  /* width: 455px; */
  // height: 60px;
  padding: 10px 13px;
  border-top-left-radius: 4px;
  background: #5D6165;
  font-size: 11px;
  color: #fff;
  margin-left: -30px;
}

@media (max-width:767px) {
  .session {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 0px;
  }
  .session .status-bar {
    margin-left: 0px;
  }
}

.session .status-bar img {
  border-radius: 50%;
  /* margin-top: -22px; */
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.session .status-bar .time {
  display: inline-block; // width: 30px;
  font-size: 18px;
  margin-top: 5px;
  margin-right: 0px;
  line-height: 14px;
}

.session .status-bar .r-hvalue {
  font-size: 25px;
  display: inline-block;
}

.session .status-bar .r-description {
  width: 80px;
  display: inline-block;
  margin: 0 10px;
  margin-right: 0px;
  line-height: 14px;
}

session .status-bar .m-hvalue {
  font-size: 30px;
  display: inline-block;
}

.session .status-bar .m-description {
  margin-left: 10px;
  width: 70px;
  display: inline-block;
  line-height: 14px;
}

.session .hrt-value {
  width: 100%;
  padding: 0px 20px;
  float: right;
}

.session .graph {
  /*margin: 10px;*/
  /*border: #000 solid 2px;*/
  /*border-radius: 20px;*/
  padding-bottom: 0;
  background: #fff;
}

.warmup {
  background: gray;
}

.time-in-hr-label {
  border-bottom: 1px gray solid; // padding-left: 15px;
  color: #000;
  // margin-left: -15px;
}

.heart-rate-label {
  border-bottom: 1px gray solid; // margin-top: -20px;
  margin-bottom: 20px;
  color: #000;
}

.calmness-label {
  color: #000;
  border-bottom: 1px gray solid;
  margin-bottom: 10px;
}

.motion-label {
  color: #000;
  border-bottom: 1px gray solid;
  margin-bottom: 10px;
}

.ht-zone {
  .row {
    margin-right: 0px;
  }
}

@media screen and (max-width: 1100px) {
  .hidden-1100 {
    display: none;
  }
  .show-1100 {
    display: inline;
  }
  .session .graph .timezone .value {
    width: 30px;
  }
}

.session .closebtn {
  font-size: 25px;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  /*display: inline-block;*/
  float: right;
  background-color: #009DED;
  color: #fff;
  width: 28px;
  height: 28px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-top: 13px;
}

.session .closebtn:hover {
  background: #B8E5FB;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.ecg-plot {
  color: #000;
  background: #fff;
}

.heart-rate {
  .row {
    margin-left: 0px;
  }
}

.heart-rate .h-graph {
  background: indigo;
}

.comment-group {
  margin-top: 10px;
  color: #000;
  .comment-label {
    // font-weight: bold;
  }
  textarea {
    width: 100%;
    height: 150px;
    padding: 5px;
  }
  button {
    width: 100px;
    float: right;
    margin-bottom: 30px;
  }
  .success-message {
    color: green;
    transition: all ease 0.5s;
  }
}
